# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project related stuff
venv
dataset
dataset*
src/checkpoints
src/checkpoint_cat_dog
src/checkpoint_covid
src/c
src/checkpoint
samples
pcam_dataset
.hypothesis
notes.txt
*.jpg
*.png
*.zip
*.tif
