# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project related stuff
venv
dataset
dataset*
output
samples
pcam_dataset
.hypothesis
notes.txt
*.jpg
*.png
*.zip
*.tif
